@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.register-box{
    padding: 30px !important;
    background-image:url('login-image1.jpg');
    border-width: 10px;
    border-color:white;
    border-style: solid;
    border-radius: 25px;
    padding-bottom: 150px!important;

}
.form_box{
    background-color: white;
    padding: 10vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    border-radius: 25px;
    border-width: 5px;
    border-color: #00AEDF;
    border-style: solid;
    width:40vw;
  
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="mob"]{
    width:100%;
    margin-right:48px;
    border-radius: 3px;
    border-width: 3px;
    border-color: #00AEDF;
    border-style: solid;
    height:7vh;
    text-align: center;
   

}
input[type="checkbox"]{
    text-align: center;
    margin-left:100px;
    margin-right: 5px;
    
  
}
.log-in-button{
    text-align: center;
    margin-top: 0px !important;
}
.log-in-btn{
    width:50%;
    border-radius: 30px;
    color:white;
    font-family: "Roboto";
    font-weight:700;
}
.log-in-btn:hover{
    transform: scale(0.9);
    color:#00AEDF;
    border-color: #00AEDF;
    background-color: white;
    border-width:3px;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="mob"]:hover,
input[type="email"]:hover{
    border-radius: 2px;
    border-width:2px;
    transform: scale(0.9);
    border-color: #E29CB4;
}
.background_color{
    background-color: whitesmoke;
    
    padding-bottom: 5px;
}
.span-box{
    width:70%;
}