@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.kit-section-heading {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    color: #1f2933;
}

.vr-kit-section-item {
    text-align: center;
}

.kit-sm-image {
    width: 200px;
    height: 250px;
}

.vr-kit-section-item-heading {
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 500;
    color: #323f4b;
}

.kit-md-image {
    height: 35vh;
    width: 20vw;
}
